<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SaveWindows10WallPaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SaveWindows10WallPaper.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastLanguageUsed" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="LanguageFileName" serializeAs="String">
                <value>Translations.xml</value>
            </setting>
            <setting name="DisplayToolStripMenuItem" serializeAs="String">
                <value>Large</value>
            </setting>
            <setting name="Option1Name" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Option2Name" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="textBoxDestinationPath" serializeAs="String">
                <value/>
            </setting>
        </SaveWindows10WallPaper.Properties.Settings>
    </userSettings>
</configuration>
