<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SaveWin10Pictures.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SaveWin10Pictures.Properties.Settings>
            <setting name="OneDrivePath1" serializeAs="String">
                <value>C:\Users\{username}\OneDrive - {companyName}\Images\fond_ecran</value>
            </setting>
            <setting name="OneDrivePath2" serializeAs="String">
                <value>C:\Users\{username}\OneDrive - {companyName}\Documents\OneDrive - {companyName}\Pictures\fond_ecran</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value />
            </setting>
        </SaveWin10Pictures.Properties.Settings>
    </userSettings>
</configuration>